name: Release to npm

on:
  push:
    paths:
      - 'package.json'
    branches:
      - main

jobs:
  release:
    uses: HyperPlay-Gaming/workflows/.github/workflows/npm_publish.yml@main
    with:
      node_version: '18'
      pkg_manager: 'npm'
      install: 'npm install'
      build: 'npm run build'
      publish: 'npm publish'
      pkg_manager_add_dev_dep: 'npm install --save-dev'
    secrets:
      NPM_TOKEN: '${{ secrets.NPM_TOKEN }}'
